:root {
  --primary: #232F3E;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
  text-align: justify;
  margin: 0 3vw 0 3vw;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--primary);
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  color: white;
  background-color: #212529d8;
  border-radius: 20px !important;
  margin: .3vw !important;
  transition: .5s;
}

button:hover {
  transition: .5s;
  transform: scale(1.03);
  background-color: #4b4949a7;
}

button:disabled {
  background-color: #21252978;
}

button:disabled:hover {
  transform: scale(1.0);
}

.overlay-container {
  position: absolute;
  opacity: 0;
  width: 100%;
  left: 0;
  top: 160px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  /* text-transform: uppercase; */
  color: white;
  z-index: 1;
  transition: top .5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container:hover .overlay-container {
  top: 140px;
  opacity: 1;
  transition: .5s;
}

.card {
  position: relative;
  bottom: 0;
  height: 40vh !important;
  display: flex;
  align-items: center;
  border-radius: 30px !important;
  margin: 1vw;
}

.container {
  /* margin: 1vw !important; */
  margin-right: 1vw !important;
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: auto;
  height: 16vh;
}

button:hover {
  opacity: .8;
  transform: translateY(-5px);
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 30% !important;
  text-align: center;
  transition: .5s;
}

.card:hover {
  transform: scale(1.05);
  transition: .5s;
}

.error-text {
  color: var(--error);
}

.navbar-toggler-icon {
  border-radius: 20%;
}

.navbar {
  /* padding: 1%; */
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

header {
  color: white;
}

.nav-link {
  text-decoration: none !important;
}

.navbar-brand {
  text-decoration: none !important;
  padding-top: 0 !important;
  padding-bottom: 1vh !important;
}

.brand-logo {
  width: 140px;
  height: 58px;
}

.detail-container {
  text-align: center;
}

.welcome-text-1 {
  position: absolute;
  top: 25vw;
  left: 5vw;
  align-items: center;
  display: flex;

}

.welcome-text-2 {
  position: absolute;
  top: 48vw;
  left: 64vw;
  align-items: center;

}

.welcome-text-div {
  display: flex;
}

.hand-writing {
  font-family: 'Allura', cursive;
  padding-left: 1vw;
  font-size: 6vw;
  margin: 0;
}

body {
  background-color: #333;
  font-family: 'Luckiest Guy', cursive;
  font-size: 35px;
}

path {
  fill: transparent;
}

text {
  fill: #FF9800;
}

/* Card Overlay */
.card-container {
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 300px;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  border-radius: 30px;
}

.card-container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.card-image {
  position: absolute;
  width: 100%;
  height: 75%;
  left: 0;
}

/* .title {
  position: absolute;
  width: 500px;
  left: 0;
  top: 120px;
  font-weight:700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  z-index: 1;
  transition: top .5s ease;
}

.card-container:hover .title {
  top: 90px;
} */

.card-text {
  position: absolute;
  opacity: 0;
  width: 500px;
  left: 0;
  top: 150px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.card-header {
  font-family: 'Dancing Script', cursive;
  background-color: white !important;
  border-bottom: black 1px solid !important;
  margin-bottom: 1vh !important;
}

.card-container:hover .card-text {
  top: 90px;
  opacity: 1;
}


.button {
  position: absolute;
  width: 500px;
  left: 0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  transition: transform 250ms;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.card-container:hover .button {
  opacity: 1;
}

.card{
  border: black 1px solid !important;
}

/* Media Screen */
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}