:root {
  --primary: #232F3E;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif !important;
  letter-spacing: .07vw;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border: white 2px solid;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #212529d8;
  border-radius: 20px !important;
  margin: .5vw !important;
  transition: .5s;
}

button:hover {
  transition: .5s;
  transform: scale(1.03);
  background-color: #4b4949a7;
}

button:disabled {
  background-color: #21252978;
}

button:disabled:hover {
  transform: scale(1.0);
}

.overlay-container {
  position: absolute;
  opacity: 0;
  width: 100%;
  left: 0;
  top: 160px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  /* text-transform: uppercase; */
  color: white;
  z-index: 1;
  transition: top .5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container:hover .overlay-container {
  top: 140px;
  opacity: 1;
  transition: .5s;
}

.card {
  position: relative;
  bottom: 0;
  height: 40vh !important;
  display: flex;
  align-items: center;
  border-radius: 30px !important;
  margin: 1vw;
}

/* .container {
  margin-right: 1vw !important;
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
} */

.container {
  /* margin-right: 1vw !important; */
  max-width: 100% !important;
  /* max-width: 1200px; */
  padding: 0 !important;
  margin: 0 !important;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

img {
  width: auto;
  height: 16vh;
}

button:hover {
  opacity: .8;
  transform: translateY(-5px);
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 30% !important;
  text-align: center;
  transition: .5s;
}

.card:hover {
  transform: scale(1.05);
  transition: .5s;
}

.error-text {
  color: var(--error);
}

.navbar-toggler-icon {
  border-radius: 20%;
}

.navbar {
  /* padding: 1%; */
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

header {
  color: white;
}

.nav-link {
  text-decoration: none !important;
}

.navbar-brand {
  text-decoration: none !important;
  padding-top: 0 !important;
  padding-bottom: 1vh !important;
}

.brand-logo {
  width: 140px;
  height: 58px;
}

.detail-container {
  text-align: center;
  position: relative;
  margin: 2vw 0 2vw 0;
}

.welcome-text-1 {
  position: absolute;
  top: 25vw;
  left: 5vw;
  align-items: center;
  display: flex;

}

.welcome-text-2 {
  position: absolute;
  top: 48vw;
  left: 64vw;
  align-items: center;

}

.welcome-text-div {
  display: flex;
}

.hand-writing {
  font-family: 'Allura', cursive;
  padding-left: 1vw;
  font-size: 6vw;
  margin: 0;
}

body {
  background-color: #333;
  font-family: 'Luckiest Guy', cursive;
  font-size: 35px;
}

path {
  fill: transparent;
}

text {
  fill: #FF9800;
}

/* Card Overlay */
.card-container {
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 300px;
  transition: .5s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  border-radius: 30px;
}

.card-container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.card-image {
  position: absolute;
  width: 100%;
  height: 75%;
  left: 0;
}

/* .title {
  position: absolute;
  width: 500px;
  left: 0;
  top: 120px;
  font-weight:700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  z-index: 1;
  transition: top .5s ease;
}

.card-container:hover .title {
  top: 90px;
} */

.card-text {
  position: absolute;
  opacity: 0;
  width: 500px;
  left: 0;
  top: 150px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.card-header {
  font-family: 'Dancing Script', cursive !important;
  background-color: white !important;
  border-bottom: black 1px solid !important;
  margin-bottom: 1vh !important;
}

.card-container:hover .card-text {
  top: 90px;
  opacity: 1;
}


.button {
  position: absolute;
  width: 500px;
  left: 0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  transition: transform 250ms;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.card-container:hover .button {
  opacity: 1;
}

.card {
  border: black 1px solid !important;
}

.category-div {
  margin: 1vw 0 2vw 0;
}

.cart {
  position: absolute;
  top: 5vw !important;
  left: 20vw;
}

.cart-closed {
  z-index: 1;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1vw 1vw 1vw 2vw;
  transition: .5s !important;
  width: 22vw;
  padding-left: 0 !important;
}

.back-button:hover {
  color: rgba(0, 0, 0, 0.5) !important;
  transition: .5s !important;
}

.detail-description {
  margin: 2vw 5vw 2vw 5vw;
}

.detail-product-name {
  /* font-family: 'Dancing Script', cursive !important; */
}

.container-products {
  padding: 3vw !important;
  background-image: linear-gradient(white, #e0f79d);
}

.transition {
  height: 20px;
  background-image: linear-gradient(#e0f79d, white);
}

.form-container {
  position: absolute;
  top: 14vw;
  left: 46vw;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white;
  border-radius: 40px;
  padding: 2vw;
  width: 30vw;
  border: white 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form{
  width: 90%;
  text-align: center;
}

input {
  border-radius: 10px;
  width: 100%;
}

.form-logo {
  position: absolute;
  top: 1.5vw;
  left: 53.5vw;
  width: 15%;
  height: 22%;
}

.submit-button{
  text-align: center;
}

.back-button-form{
  color: white !important;
  margin: .5vw 0 0 0;
}

.form-header{
  letter-spacing: .3vw;
}

/* Media Screen */
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}